# Main Discord library
discord

# Spotify data receiver
spotipy

# Search for YouTube videos and playlists
pytube

# Utilities
pynacl
mutagen
gtts

# Database
mysql-connector-python

# Keyboard Listener
pynput

# Old stuff
ytdl
yt-dlp
youtube_dl
