# Main Discord library
discord

# Spotify data receiver
spotipy

# Search for YouTube videos and playlists
ytdl
yt-dlp
youtube_dl
youtube-search-python

# Utilities
pynacl
mutagen
gtts

# Database
mysql-connector-python

# Keyboard Listener
pynput
